.navbar{
background: white; 
   /*background-size: cover;*/
   margin-top: -16px;
   font-family: 'Dr Sugiyama', cursive;

}


html, body{
margin: 0;
}

/*.ulist{
list-style-type: none;
display: flex;
padding: 30px;
width: 90%;
justify-content: space-between;
z-index: 99;
padding-top: 0;
padding-bottom: 0;
}*/

a{
    text-decoration: none;
    color: #F95875;
    font-size: 20px;
}
.logo{
border-radius: 50px;
width: 40%;
}

#liste{
list-style-type: none;
margin-top: -750px;

}

#liste a{
color: white;
text-decoration: none;

}

.containerBody{

width: 100%;
}

.imgBissap{
width: 100%;

}