.navbar{
background: #e96a21; 
   /*background-size: cover;*/
   margin-top: -16px;
   font-family: 'arial', cursive;
   color: white;
}
.marge{
  overflow: hidden;
}
html, body{
margin: 0;

height: 100vh;

/*background: orange;*/
}


a{
    text-decoration: none;

    font-size: 20px;
}
.logo{
  margin-top: 10px;
border-radius: 50%;
width: 30%;
}

.container-fluid{
    width: 100%;
    margin-top: -16px;
   
}
.img{
width: 100%;
    
   
}


h1{
  text-align: center;
  color: #9E4633;
  font-family: 'Dr Sugiyama', cursive;
  padding-top: 10px;
}

footer{
  background: #e96a21;
  font-family: arial;
  font-size: 20px;
/*position: absolute;
bottom: 0;
width: 100%;*/
  margin-top: 193px;
}

.page-footer a{
  color: brown;
}

.footer-copyright a{
  color: white;
}

.container{
  justify-content: center;
  align-items: center;
}

.centre{
  margin: auto;

}

.btn-centre{
  text-align: center;
}